include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include requirements/base.in

recursive-include pipcompilemulti
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
