name: Python 3.6

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.6
      uses: actions/setup-python@v2
      with:
        python-version: '3.6'
    - name: Install tox
      run: |
        python -m pip install --upgrade pip
        python -m pip install tox==3.26.0  # Last working version
    - name: Run tox
      run: |
        tox
